<ion-content>
  <div class="head">
    <ion-buttons>
      <ion-button routerLink="/listing">
        <ion-icon slot="icon-only" color="light" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </div>

  <!-- History Details Card -->
  <div class="card">
    <div class="image">
      <!-- <img src="assets\images\capture leaf.png" alt=""> -->
      <img src="{{result.plant_image_data}}" alt="">
    </div>

    <div class="card-content">
      <div class="card-title">
        <h1 class="ion-no-margin">{{ result.disease.name }}</h1>
        @if (result.is_infected) {
          <p class="ion-no-margin" ngClass="red">infected</p>
        } @else {
          <p class="ion-no-margin" ngClass="green">Not infected</p>
        }
      </div>

      <div class="badge-container">
        <div class="badge">
          <ion-icon name="calendar-outline"></ion-icon> May 13, 2024
        </div>
        <div class="badge">
          <ion-icon name="time"></ion-icon> 18:20
        </div>
      </div>

      <div class="description">
        <h1>Description</h1>
        <p>{{ result.disease.description }}</p>
      </div>

    </div>
  </div>
</ion-content>
