<!-- TODO: fix the navigating between pages for about us, website references and faq -->

<!-- FAQ Menu -->
<ion-menu side="start" menuId="faqMenu" content-id="main-content">
  <ion-content>
    <ion-menu-toggle>
      <ion-buttons>
        <ion-button>
          <ion-icon name="arrow-forward-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-menu-toggle>
    <app-faq></app-faq>
  </ion-content>
</ion-menu>

<!-- About Us Menu -->
<ion-menu side="start" menuId="aboutUsMenu" content-id="main-content">
  <ion-content>
    <ion-menu-toggle>
      <ion-buttons>
        <ion-button>
          <ion-icon name="arrow-forward-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-menu-toggle>
    <app-about-us></app-about-us>
  </ion-content>
</ion-menu>

<!-- About GreenGuard Menu -->
<ion-menu side="start" menuId="aboutGreenGuardMenu" content-id="main-content">
  <ion-content>
    <ion-menu-toggle>
      <ion-buttons>
        <ion-button>
          <ion-icon name="arrow-forward-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-menu-toggle>
    <app-about-greenguard></app-about-greenguard>
  </ion-content>
</ion-menu>


<div class="ion-page" id="main-content">
  <ion-content class="ion-padding">
    <div class="img-container">
      <img src="assets/images/dashboard-removebg-preview.png" alt="">
      <p>
        Welcome! This page contains an FAQ section to answer common questions, as well as links to our About Us and Website References sections.
      </p>
    </div>
    <br/>

    <ion-menu-toggle menu="faqMenu" >
      <button class="button btn type--A" style="margin-bottom: 5px;">
        <div class="button__line"></div>
        <div class="button__line"></div>
        <span class="button__text">FAQ</span>
      </button>
    </ion-menu-toggle>

    <ion-menu-toggle menu="aboutUsMenu" >
      <button class="button btn type--B" style="margin-bottom: 5px;">
        <div class="button__line"></div>
        <div class="button__line"></div>
        <span class="button__text">About Us</span>
      </button>
    </ion-menu-toggle>

    <ion-menu-toggle menu="aboutGreenGuardMenu" >
      <button class="button btn type--C" style="margin-bottom: 5px;">
        <div class="button__line"></div>
        <div class="button__line"></div>
        <span class="button__text">About GreenGuard</span>
      </button>
    </ion-menu-toggle>
  </ion-content>
</div>

