<ion-content class="ion-padding-top">
  <div class="img-icon-container">
    <img src="assets\icon\info.png" alt="INFO-ICON">
  </div>
  <ion-card>
    <ion-card-header>
      <ion-card-title>App Features & Benefits</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>GreenGuard is an AI-powered mobile application designed to help gardeners, farmers, and plant enthusiasts detect and manage plant diseases. Here’s what GreenGuard can do for you:</p>
    </ion-card-content>
  </ion-card>

  <ion-list>
    <ion-list-header>
      <ion-label>Key Features</ion-label>
    </ion-list-header>

    <ion-item>
      <ion-icon name="camera" slot="start"></ion-icon>
      <ion-label>Image Capture: Take photos of your plants using your mobile device.</ion-label>
    </ion-item>

    <ion-item>
      <ion-icon name="analytics" slot="start"></ion-icon>
      <ion-label>AI Analysis: Analyze images to detect signs of plant diseases using AI technology.</ion-label>
    </ion-item>

    <ion-item>
      <ion-icon name="medical" slot="start"></ion-icon>
      <ion-label>Diagnosis: Get immediate feedback on the health of your plants.</ion-label>
    </ion-item>

    <ion-item>
      <ion-icon name="medkit" slot="start"></ion-icon>
      <ion-label>Treatment Suggestions: Receive personalized recommendations for treating plant diseases.</ion-label>
    </ion-item>

    <ion-item>
      <ion-icon name="time" slot="start"></ion-icon>
      <ion-label>History Tracking: Track the health of your plants over time with saved diagnoses and images.</ion-label>
    </ion-item>

    <ion-item>
      <ion-icon name="people" slot="start"></ion-icon>
      <ion-label>User-Friendly Interface: Intuitive design for users of all ages and technical skills.</ion-label>
    </ion-item>

    <ion-item>
      <ion-icon name="share" slot="start"></ion-icon>
      <ion-label>Community Sharing: Share plant health reports and seek advice from the community.</ion-label>
    </ion-item>
  </ion-list>

  <ion-card class="benefits">
    <ion-card-header>
      <ion-card-title>Benefits</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-icon name="leaf" slot="start"></ion-icon>
          <ion-label>Helps users maintain healthier plants.</ion-label>
        </ion-item>

        <ion-item>
          <ion-icon name="alert" slot="start"></ion-icon>
          <ion-label>Prevents the spread of plant diseases through early detection.</ion-label>
        </ion-item>

        <ion-item>
          <ion-icon name="information-circle" slot="start"></ion-icon>
          <ion-label>Provides valuable insights and educational information about plant care.</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
