<ion-content>
  <section class="faq-section">
    <div class="container">
      <div class="img-icon-container">
        <img src="assets\icon\faq_icon.png" alt="FAQ-ICON">
      </div>
      <div class="accordion">
        <div class="accordion-item" id="question1">
          <a href="javascript:void(0)" (click)="toggleAccordion('question1')" class="accordion-link">
            Q: How do I create an account or log in?
            <ion-icon class="add-outline" name="arrow-down-outline"></ion-icon>
            <ion-icon class="remove-outline" name="remove-outline"></ion-icon>
          </a>
          <div class="answer" [class.open]="currentOpen === 'question1'">
            <p>
              A: Currently, account creation and login features are not available. You can use the application without an account for now.
            </p>
          </div>
        </div>

        <div class="accordion-item" id="question2">
          <a href="javascript:void(0)" (click)="toggleAccordion('question2')" class="accordion-link">
            Q: What features are included in the premium version?
            <ion-icon class="add-outline" name="arrow-down-outline"></ion-icon>
            <ion-icon class="remove-outline" name="remove-outline"></ion-icon>
          </a>
          <div class="answer" [class.open]="currentOpen === 'question2'">
            <p>
              A: Premium features are still in development. Stay tuned for updates and additional functionalities in future releases.
            </p>
          </div>
        </div>

        <div class="accordion-item" id="question3">
          <a href="javascript:void(0)" (click)="toggleAccordion('question3')" class="accordion-link">
            Q: How do I use the app to detect plant diseases?
            <ion-icon class="add-outline" name="arrow-down-outline"></ion-icon>
            <ion-icon class="remove-outline" name="remove-outline"></ion-icon>
          </a>
          <div class="answer" [class.open]="currentOpen === 'question3'">
            <p>
              A: Simply take or upload a clear photo of the plant using the app, and our AI will analyze the image to identify any diseases.
            </p>
          </div>
        </div>

        <div class="accordion-item" id="question4">
          <a href="javascript:void(0)" (click)="toggleAccordion('question4')" class="accordion-link">
            Q: Can I save the diagnostic results for future reference?
            <ion-icon class="add-outline" name="arrow-down-outline"></ion-icon>
            <ion-icon class="remove-outline" name="remove-outline"></ion-icon>
          </a>
          <div class="answer" [class.open]="currentOpen === 'question4'">
            <p>
              A: Yes, all diagnostic results are saved within the app, allowing you to track the health history of your plants over time.
            </p>
          </div>
        </div>

        <div class="accordion-item" id="question5">
          <a href="javascript:void(0)" (click)="toggleAccordion('question5')" class="accordion-link">
            Q: What should I do if the app cannot identify the disease?
            <ion-icon class="add-outline" name="arrow-down-outline"></ion-icon>
            <ion-icon class="remove-outline" name="remove-outline"></ion-icon>
          </a>
          <div class="answer" [class.open]="currentOpen === 'question5'">
            <p>
              A: If the app cannot identify the disease, it will suggest further steps such as consulting a local expert or trying different angles or clearer images of the plant.
            </p>
          </div>
        </div>

        <div class="accordion-item" id="question6">
          <a href="javascript:void(0)" (click)="toggleAccordion('question6')" class="accordion-link">
            Q: How can I get recommendations for treatment?
            <ion-icon class="add-outline" name="arrow-down-outline"></ion-icon>
            <ion-icon class="remove-outline" name="remove-outline"></ion-icon>
          </a>
          <div class="answer" [class.open]="currentOpen === 'question6'">
            <p>
              A: After identifying a disease, the app provides recommendations for treatment based on the detected issue
            </p>
          </div>
        </div>

        <div class="accordion-item" id="question7">
          <a href="javascript:void(0)" (click)="toggleAccordion('question7')" class="accordion-link">
            Q: Is there a limit to the number of plants I can monitor?
            <ion-icon class="add-outline" name="arrow-down-outline"></ion-icon>
            <ion-icon class="remove-outline" name="remove-outline"></ion-icon>
          </a>
          <div class="answer" [class.open]="currentOpen === 'question7'">
            <p>
              A: No, there is no limit. You can monitor as many plants as you need using the app.
            </p>
          </div>
        </div>
        <!-- Repeat for other questions -->
      </div>
    </div>
  </section>
</ion-content>
