ion-content {
  // --ion-background-color: #fdfdfd;

  .faq-section {
    .container {
      padding: 1rem;
      margin-bottom: 8rem;
      overflow: auto;
    }

    // ! ERROR trying to hide the scroll bar
    .accordion {
      &::-webkit-scrollbar {
        display: none;
      }

      scrollbar-width: none;
      -ms-overflow-style: none;
      overflow: -moz-scrollbars-none;
    }

    .accordion-item {
      border-radius: 0.4rem;
      margin-bottom: 1rem;
      padding: 1rem;
      box-shadow: 0.5rem 2px 0.5rem rgba(0, 0, 0, 0.1);
    }

    .accordion-link {
      color: rgb(19, 19, 19);
      font-size: 1.2rem;
      text-decoration: none;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 1rem 0;
    }

    .accordion-link i {
      padding: 0.5rem;
    }

    .accordion-link .remove-outline {
      display: none;
    }

    .answer {
      max-height: 0;
      overflow: hidden;
      position: relative;
      color: rgb(48, 48, 48);
      transition: max-height 650ms;
    }

    .answer::before {
      content: "";
      position: absolute;
      width: 0.6rem;
      height: 90%;
      background-color: #8fc460;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
    }

    .answer p {
      padding: 2rem;
      font-size: 1rem;
    }

    .accordion-item:target .answer {
      max-height: 20rem;
    }

    .accordion-item:target .accordion-link .add-outline {
      display: none;
    }

    .accordion-item:target .accordion-link .remove-outline {
      display: inline-block;
    }

    .answer {
      max-height: 0;
      overflow: hidden;
      position: relative;
      color: rgb(48, 48, 48);
      border-radius: 0.2rem;
      box-shadow: inset 0.5rem 2px 0.5rem rgba(0, 0, 0, 0.1);
      transition: max-height 650ms;

      &.open {
        max-height: 20rem;
      }
    }

    .img-icon-container {
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        width: 100px;
      }
    }

  }
}
