<ion-content class="ion-padding-top">
  <div class="img-icon-container">
    <img src="assets\icon\about us.png" alt="INFO-ICON">
  </div>

  <ion-card>
    <ion-card-header>
      <ion-card-title>About Our University</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <img src="assets/images/ibn tofail uni.png" alt="University Logo">

      <ion-label>
        Ibn Tofail University - Supporting our Innovation in AI and Data Engineering.
      </ion-label>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Our Branding</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label>
          Visit our website for more information:
        </ion-label>
        <br>
        <a class="website-button" href="https://greenguardmobile.github.io/website/" target="_blank">WebSite</a>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-card style="margin-bottom: 8rem;">
    <ion-card-header>
      <ion-card-title>Meet the Team</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-thumbnail slot="start">
            <img src="assets/images/avatar.jpg" alt="Salah-eddine">
          </ion-thumbnail>
          <ion-label>
            <h2>Salah-eddine</h2>
            <p>Frontend Developer</p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-thumbnail slot="start">
            <img src="assets/images/avatar.jpg" alt="Ali">
          </ion-thumbnail>
          <ion-label>
            <h2>Salma</h2>
            <p>Frontend Developer</p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-thumbnail slot="start">
            <img src="assets/images/avatar.jpg" alt="Rim">
          </ion-thumbnail>
          <ion-label>
            <h2>Rim</h2>
            <p>Backend Developer</p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-thumbnail slot="start">
            <img src="assets/images/avatar.jpg" alt="Lina">
          </ion-thumbnail>
          <ion-label>
            <h2>Lina</h2>
            <p>Backend Developer</p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-thumbnail slot="start">
            <img src="assets/images/avatar.jpg" alt="Abderrahmane">
          </ion-thumbnail>
          <ion-label>
            <h2>Abderrahmane</h2>
            <p>Data Engineering & ML</p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-thumbnail slot="start">
            <img src="assets/images/avatar.jpg" alt="Abderrahmane">
          </ion-thumbnail>
          <ion-label>
            <h2>Ali</h2>
            <p>Data Engineering & ML</p>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
