<ion-content>
  <!-- SEARCHBAR -->
  <!-- todo: when someonne start typing the Criteria should DISPLAY NONE ! -->
  <app-searchbar></app-searchbar>

  <!-- CRITERIA -->
  <div class="criteria">
    <app-criterion-item
      *ngFor="let item of criteria"
      [item]="item"
      (click)="toggleItemStatus(item)"
    ></app-criterion-item>
  </div>

  <!-- History captured -->
  <div class="listing">
    <h1 class="list-header">History</h1>
    <div class="history-list">
      <!-- todo passing the id of the item to visualize it in the detail page -->
      <div class="history" (click)="goToDetailHistory(1)">
        <div class="color-band-status" ngClass="green"></div>
        <img src="assets\images\capture leaf.png" alt="Image 1">
        <div class="history-content">
          <div class="title-date">
            <h2>Title 1</h2>
            <span class="date">April 10, 2024</span>
          </div>
          <p>Description 1</p>
        </div>
      </div>
      <div class="history" (click)="goToDetailHistory(1)">
        <div class="color-band-status" ngClass="red"></div>
        <img src="assets\images\capture leaf.png" alt="Image 1">
        <div class="history-content">
          <div class="title-date">
            <h2>Title 2</h2>
            <span class="date">April 10, 2024</span>
          </div>
          <p>Description 2</p>
        </div>
      </div>
      <div class="history" (click)="goToDetailHistory(1)">
        <div class="color-band-status" ngClass="red"></div>
        <img src="assets\images\capture leaf.png" alt="Image 1">
        <div class="history-content">
          <div class="title-date">
            <h2>Title 2</h2>
            <span class="date">April 10, 2024</span>
          </div>
          <p>Description 2</p>
        </div>
      </div>
      <div class="history" (click)="goToDetailHistory(1)">
        <div class="color-band-status" ngClass="red"></div>
        <img src="assets\images\capture leaf.png" alt="Image 1">
        <div class="history-content">
          <div class="title-date">
            <h2>Title 2</h2>
            <span class="date">April 10, 2024</span>
          </div>
          <p>Description 2</p>
        </div>
      </div>
      <div class="history" (click)="goToDetailHistory(1)">
        <div class="color-band-status" ngClass="red"></div>
        <img src="assets\images\capture leaf.png" alt="Image 1">
        <div class="history-content">
          <div class="title-date">
            <h2>Title 2</h2>
            <span class="date">April 10, 2024</span>
          </div>
          <p>Description 2</p>
        </div>
      </div>
      <div class="history" (click)="goToDetailHistory(1)">
        <div class="color-band-status" ngClass="red"></div>
        <img src="assets\images\capture leaf.png" alt="Image 1">
        <div class="history-content">
          <div class="title-date">
            <h2>Title 2</h2>
            <span class="date">April 10, 2024</span>
          </div>
          <p>Description 2</p>
        </div>
      </div>
      <div class="history" (click)="goToDetailHistory(1)">
        <div class="color-band-status" ngClass="red"></div>
        <img src="assets\images\capture leaf.png" alt="Image 1">
        <div class="history-content">
          <div class="title-date">
            <h2>Title 2</h2>
            <span class="date">April 10, 2024</span>
          </div>
          <p>Description 2</p>
        </div>
      </div>
      <div class="history" (click)="goToDetailHistory(1)">
        <div class="color-band-status" ngClass="red"></div>
        <img src="assets\images\capture leaf.png" alt="Image 1">
        <div class="history-content">
          <div class="title-date">
            <h2>Title 2</h2>
            <span class="date">April 10, 2024</span>
          </div>
          <p>Description 2</p>
        </div>
      </div>
      <div class="history" (click)="goToDetailHistory(1)">
        <div class="color-band-status" ngClass="red"></div>
        <img src="assets\images\capture leaf.png" alt="Image 1">
        <div class="history-content">
          <div class="title-date">
            <h2>Title 2</h2>
            <span class="date">April 10, 2024</span>
          </div>
          <p>Description 2</p>
        </div>
      </div>
      <div class="history" (click)="goToDetailHistory(1)">
        <div class="color-band-status" ngClass="red"></div>
        <img src="assets\images\capture leaf.png" alt="Image 1">
        <div class="history-content">
          <div class="title-date">
            <h2>Title 2</h2>
            <span class="date">April 10, 2024</span>
          </div>
          <p>Description 2</p>
        </div>
      </div>
      <!-- Add more historys as needed -->
    </div>
  </div>
  <!-- @for (image of imagesData; track $index) {
    <div class="history">
      <div class="color-band-status" ngClass="yellow"></div>
      <ion-img [src]="image.data"></ion-img>
      <div class="history-content">
        <div class="title-date">
          <h2>Title 2</h2>
          <span class="date">April 10, 2024</span>
        </div>
        <p>Description 2</p>
      </div>
    </div>
  } -->

  <!-- tabs -->
</ion-content>
